/* RESET (simplifié et moderne) */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.6em;
  text-wrap: balance
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* VARIABLES */

$primary: hsl(158, 36%, 37%);
$primary-dark: hsl(158, 42%, 18%);
$secondary: hsl(30, 38%, 92%);
$white: hsl(0, 0%, 100%);
$gray: hsl(228, 12%, 48%);
$black: hsl(212, 21%, 14%);

// For basic text (0.875rem -> ~1rem)
$fluid-body: clamp(0.875rem, 0.8rem + 0.3vw, 1rem);

// For main titles (2.1rem -> ~2.5rem)
// On utilise une croissance plus forte (2vw) car c'est l'élément visuel clé
$fluid-title: clamp(1.8rem, 1.2rem + 3vw, 2.4rem);

// For the prices (2rem -> 2.2rem)
$fluid-price: clamp(1.8rem, 1.6rem + 1vw, 2.2rem);

/* GLOBAL */
body {
  font-size: $fluid-body;
  font-family: "Montserrat", sans-serif;
  background-color: $secondary;
  display: grid;
  place-items: center; 
}

/* CARD */
.product-card {

  &__category {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: $gray;
    //keep fixed sized, as it's simply a label
    font-size: 0.7rem; 
  }

  &__title {
    font-family: "Fraunces", serif;
    font-size: $fluid-title; // fluid title applied here
    color: $black;
    line-height: 1.1;

  &__description {
    font-size: $fluid-body;
    font-weight: 500;
    color: $gray;
    line-height: 1.6;
  }

  &__price {
    font-size: $fluid-price;
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: $primary;
    display: flex;
    align-items: center; 
  }

  &__price-old {
    font-size: 0.875rem; //fix size for more contrast
    margin-left: 1.5rem;
    color: $gray;
    text-decoration: line-through;
    font-family: "Montserrat", sans-serif; 
  }
}